<div ng-if="type === 'BM'">
    <div class="navBtn getSubMenu" ng-click="$parent.$parent.navAction('bookmark')" ng-class="{'active': $parent.$parent.selectedTab == 'bookmark'}" title="Bookmarks" title-direction="right">
        <a href="#"><i class="ms-Icon ms-Icon--SingleBookmark" aria-hidden="true"></i><span class="nav-item-title">Bookmarks</span></a>
    </div>
                
    <!-- <div class="subMenu-wrap"  ng-class="{ 'is-open': selectedTab == 'bookmark' }" filter-list data="{{ bookmarks }}" message="{{ bmkMessage }}"> -->
    <div class="subMenu-wrap"  ng-class="{ 'is-open': $parent.$parent.selectedTab == 'bookmark' }">
        <div class="ms-SearchBox ms-SearchBox--commandBar">
            <input class="ms-SearchBox-field search" type="text" ng-model="$parent.$parent.bkMarks">
            <label class="ms-SearchBox-label">
                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Filter"></i>
                <span class="ms-SearchBox-text"></span>
            </label>
            <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button reIndex">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
        </div>
        <div class="subMenuContainer" dx-scroll-view="leftMenuView">
            <div class="ms-Spinner navSpinner" ng-hide="$parent.$parent.spinners.bookmarks"></div>
            <ul class="subMenu list" ng-hide="!$parent.$parent.spinners.bookmarks">
                <li class="subMenuItem" ng-repeat="li in $parent.$parent.bookmarks | filter:{ Desc: $parent.$parent.bkMarks}" ng-click="goTo(li,'bm')" title="{{ li.Desc }}" title-direction="right" ng-class="{ activeRow: isActive(li) }">
                    <a href="#" class="subCat"><i class='ms-Icon ms-Icon--Package' aria-hidden='true'></i> <span class="name">{{ li.Desc }}</span></a>
                </li>
                <span class="noResults" ng-if="bmkMessage != ''">{{ bmkMessage }}</span>
            </ul>
        </div>
    </div>
</div>

<div ng-if="type === 'FM'">
    <div class="navBtn getSubMenu" ng-click="$parent.$parent.navAction('matters')" ng-class="{'active': $parent.$parent.selectedTab == 'matters'}" title="Fav Matters" title-direction="right">
        <a href="#"><i class="ms-Icon ms-Icon--Heart" aria-hidden="true"></i><span class="nav-item-title">Fav Matters</span></a>
    </div>
    <div class="subMenu-wrap"  ng-class="{ 'is-open': $parent.$parent.selectedTab == 'matters' }">
        <div class="ms-SearchBox ms-SearchBox--commandBar">
            <input class="ms-SearchBox-field search" type="text" ng-model="$parent.$parent.fvMatter">
            <label class="ms-SearchBox-label">
                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Filter"></i>
                <span class="ms-SearchBox-text"></span>
            </label>
            <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button reIndex">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
        </div>
        <div class="subMenuContainer">
            <!-- <div class="navSpinner" dx-load-indicator="{
                height: 20,
                width: 20
            }"></div> -->
            <div class="ms-Spinner navSpinner" ng-hide="$parent.$parent.spinners.matters"></div>
            <ul class="subMenu list" ng-hide="!$parent.$parent.spinners.matters">
                <li class="subMenuItem" ng-repeat="li in $parent.$parent.favMatters | filter:{ Desc: $parent.$parent.fvMatter}" ng-click="goTo(li,'fm')" title="{{ li.Desc }}" title-direction="right">
                    <a href="#" class="subCat"><i class='ms-Icon ms-Icon--Package' aria-hidden='true'></i> <span class="name">{{li.Desc}}</span></a>
                </li>
                <span class="noResults" ng-if="favMMessage != ''">{{ favMMessage }}</span>
            </ul>
        </div>
    </div>
</div>

<div ng-if="type === 'WS'">
    <div class="navBtn getSubMenu" ng-click="$parent.$parent.navAction('workspaces')" ng-class="{'active': $parent.$parent.selectedTab == 'workspaces'}" title="Workspaces" title-direction="right">
        <a href="#"><i class="ms-Icon ms-Icon--FieldNotChanged" aria-hidden="true"></i><span class="nav-item-title">Workspaces</span></a>
    </div>
    <div class="subMenu-wrap"  ng-class="{ 'is-open': $parent.$parent.selectedTab == 'workspaces' }">
        <div class="ms-SearchBox ms-SearchBox--commandBar">
            <input class="ms-SearchBox-field search" type="text" ng-model="$parent.$parent.wkSpaces">
            <label class="ms-SearchBox-label">
                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Filter"></i>
                <span class="ms-SearchBox-text"></span>
            </label>
            <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button reIndex">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
        </div>
        <div class="subMenuContainer">
            <div class="ms-Spinner navSpinner" ng-hide="$parent.$parent.spinners.workspaces"></div>
            <ul class="subMenu list" ng-hide="!$parent.$parent.spinners.workspaces">
                <li class="subMenuItem" ng-repeat="li in $parent.$parent.workspaces | filter:{ Desc: $parent.$parent.wkSpaces}" ng-click="goTo(li,'ws')" title="{{ li.Desc }}" title-direction="right">
                    <a href="#" class="subCat"><i class='ms-Icon ms-Icon--Package' aria-hidden='true'></i> <span class="name">{{ li.Desc }}</span></a>
                </li>
                
            </ul>
        </div>
        <span class="noResults" ng-if="wkMessage != ''">{{ wkMessage }}</span>
    </div>
</div>

<div ng-if="type === 'PG'">
    <div class="navBtn getSubMenu" ng-click="$parent.$parent.navAction('cabinets')" ng-class="{'active': $parent.$parent.selectedTab == 'cabinets'}" title="Cabinets" title-direction="right">
        <a href="#"><i class="ms-Icon ms-Icon--FabricFormLibrary" aria-hidden="true"></i><span class="nav-item-title">Cabinets</span></a>
    </div>
    <div class="subMenu-wrap"  ng-class="{ 'is-open': $parent.$parent.selectedTab == 'cabinets' }">
        <div class="ms-SearchBox ms-SearchBox--commandBar">
            <input class="ms-SearchBox-field search" type="text" value="" ng-model="$parent.$parent.cabFilter">
            <label class="ms-SearchBox-label">
                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Filter"></i>
                <span class="ms-SearchBox-text"></span>
            </label>
            <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button reIndex">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
        </div>
        <div class="subMenuContainer">
            <div class="ms-Spinner navSpinner" ng-hide="$parent.$parent.spinners.cabinets"></div>
            <!-- <div dx-tree-view="$parent.$parent.getCabinetlist"></div> -->
            <ul class="subMenu list" ng-hide="!$parent.$parent.spinners.cabinets">
                <li class="subMenuItem" ng-repeat="li in $parent.$parent.cabinets | filter:{ Desc: $parent.$parent.cabFilter}" title="{{ li.Desc }}" title-direction="right" ng-click="getCabinet(li)">
                    <a href="#" class="subCat pgList"><i class='ms-Icon ms-Icon--Package' aria-hidden='true'></i> <span class="name">{{ li.Desc }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="type === 'FF'">
    <div class="navBtn getSubMenu" ng-click="$parent.$parent.navAction('favorites')" ng-class="{'active': $parent.$parent.selectedTab == 'favorites'}" title="Favorites" title-direction="right">
        <a href="#"><i class="ms-Icon ms-Icon--Heart" aria-hidden="true"></i><span class="nav-item-title">Favorites</span></a>
    </div>
    <div class="subMenu-wrap"  ng-class="{ 'is-open': $parent.$parent.selectedTab == 'favorites' }">
        <div class="ms-SearchBox ms-SearchBox--commandBar">
            <input class="ms-SearchBox-field search" type="text" value="" ng-model="$parent.$parent.fav">
            <label class="ms-SearchBox-label">
                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Filter"></i>
                <span class="ms-SearchBox-text"></span>
            </label>
            <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
                <button class="ms-CommandButton-button reIndex">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                    <span class="ms-CommandButton-label"></span>
                </button>
            </div>
        </div>
        <div class="subMenuContainer">
            <div class="ms-Spinner navSpinner" ng-hide="$parent.$parent.spinners.favorites"></div>
            <ul class="subMenu list" ng-hide="!$parent.$parent.spinners.favorites">
                <li class="subMenuItem" ng-repeat="li in $parent.$parent.favorites | filter:{ Desc: $parent.$parent.fav}" ng-click="goTo(li,'ff')" title="{{ li.Desc }}" title-direction="right">
                    <a href="#" class="subCat"><i class='ms-Icon ms-Icon--Package' aria-hidden='true'></i> <span class="name">{{ li.Desc }}</span></a>
                </li>
                <span class="noResults" ng-if="ffMessage != ''">{{ ffMessage }}</span>
            </ul>
        </div>
    </div>
</div>